<!DOCTYPE html>

<html>
    <head>
        <title>SuperChat</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Mon Tchat</h1>
        <div>Il y aura surement quelque chose ici.</div>
    </body>
</html>